## 1.
https://infosecwriteups.com/email-verification-bypass-a-strange-case-f38291866126

## 2. 
