## 1.
https://infosecwriteups.com/email-verification-bypass-a-strange-case-f38291866126

## 2. Email bounce
https://infosecwriteups.com/an-unexpected-bounty-email-bounce-issues-b9f24a35eb68
